<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./../styles/styles.css">
  <script defer src="./../src/user.js" type="module"></script>
</head>
<body>
  <header>
  </header>
  <section class="kfe-btn-general">
    <button class="kfe-btn" id="btnNewOrder" type="button">NUEVA ORDEN</button>
  </section>

  <section class="d-none" id="menu">
    <h2>MENÚ</h2>
    <div class="row container">
      <div class="col-7"></div>
      <div class="col-2 menu-title">Precio</div>
      <div class="col-3 menu-title"><p>Cantidad</p></div>
    </div>
    <div class="containMenu" id="containDish"></div>
  </section>

  <section class="d-none" id="resume">
    <h2>CONFIRMAR PEDIDO</h2>
    <div class="date">
      <label for="dateOrder" id="labelDate"></label>
      <!-- <button type="button" id="btnChangeDate" class="">Cambiar fecha</button>
      <input id="dateOrder" type="date" value=""> -->
    </div>
    <div id="description" class=""></div>
    <div class="kfe-btn-general">
      <button class="kfe-btn" id="btnRegisterOrder" type="button">REGISTRAR</button>
      <p id="setError"></p>
    </div>
  </section>
</body>
</html>