<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./../styles/styles.css">
  <script defer src="./../src/user.js" type="module"></script>
</head>
<body>
  <header>
    <h1>KFE Menú</h1>
  </header>
  <section>
    <button id="btnNewOrder" type="button">Crear Orden</button>
  </section>

  <section class="d-none" id="menu">
    <h2>Platillos</h2>
    <div class="row container">
      <div class="col-7"></div>
      <div class="col-2"></div>
      <div class="col-3"><p>Cantidad</p></div>
    </div>
    <div id="containDish"></div>
  </section>

  <section class="d-none" id="resume">
    <h2>Resumen del pedido</h2>
    <div class="date">
      <label for="dateOrder" id="labelDate"></label>
      <!-- <button type="button" id="btnChangeDate" class="">Cambiar fecha</button>
      <input id="dateOrder" type="date" value=""> -->
    </div>
    <div id="description" class=""></div>
    <button id="btnRegisterOrder" type="button">Registrar</button>
  </section>
</body>
</html>